.i4-edit-wrapper {
    position:relative;
}
.i4-edit {
}
.i4-edit-asterisk {
    background-color:red;
    width:50px;
    min-height:20px;
    position:absolute;
    left:-50px;
}
.i4-edit-toolbar {
    font-weight:normal;
    position:absolute;
    left:0px;
    display:none;
    background-color:white;
    font-size:14pt;
    color:black;
}
.i4-edit-inplace {
    position:absolute;
    left:0px;
    top:0px;
    display:none;
    background-color:white;
    font-size:14pt;
    color:black;
}
.i4-edit-inplace-toolbar {
    position:absolute;
    left:0px;
    top:-20px;
    display:none;
    background-color:white;
    font-size:14pt;
    color:black;
}
.i4-edit-overlay {
    position:absolute;
    left:0px;
    display:none;
    background-color:green;
    opacity:0.3;
    /* z-index:1000; */
}
